
/* mobile first *
 * 1, 1.24, 1.62, 2, 2.62, 3.24, 4.24, 5.24 *
 * Modular rule by Le Corbusier *
 * 0.95, 1.53, 2.48, 4.01, 6.49, 10.50, 17, 21, 27.50 */

body {
  font-family: 'Courier', 'Bitstream Charter', monospace;
  font-size: 1.62em;
  text-transform: uppercase;
}

#container {
  margin: 1.24em;
}

h1 {
  font-weight: 500;
  letter-spacing: 0.3em;
}

.bronnen {
  text-transform: none;
  font-size: 0.72em;
  font-weight: lighter;
  padding-top: 2em;
  color: #001f3f;
}

/* desktop */

@media only screen and (min-width: 768px) and (max-width: 1407px) {
  /* 1, 1.24, 1.62, 2, 2.62, 3.24, 4.24, 5.24 */
  #container {
    margin: 1.24em 5.24em;
  }
}

@media only screen and (min-width: 1408px) and (max-width: 1741px) {
  #container {
    margin: 1.53em 17em;
  }
}

@media only screen and (min-width: 1742px) {
  #container {
    margin: 1.53em 21em;
  }
}
