@media only print
{
    body * { display: none !important; }
    body:after { content: "Don't waste paper!"; }
}

/**
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }
}**/

